*{
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  font-weight: 600;
}
ul p{
  font-size: 16px;
  
}

.rightAns{
  color: green;
}
.wrongAns{
  color: red;
  margin-top: -15px;
}
.score{
  color: green;
  margin-bottom: 20px;
}
.gameOver{
  background-color: gray;
  padding: 3rem 5rem;
  border-radius: 20px;
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}
@media (max-width:500px) {
  ul p{
    font-size: 12px;
  }
  .gameOver{
    padding: 1rem 2rem;
  }
  .gameOver h2{
    font-size: 22px;
  }
  .score{
    font-size: 16px;
  }
}